<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="title">
    <title>도서 상세조회</title>
  </th:block>
  <div layout:fragment="content">
    <!-- 본문내용 -->
    <h3>Book Read</h3>
    <form>
      <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" id="code" name="code" th:value="${dto.code}" readonly />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" readonly />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" th:value="${dto.author}" readonly />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" th:value="${dto.price}" readonly />
      </div>
      <a
        th:href="@{/book/modify(code=${dto.code}, page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
        class="btn btn-success"
        >수정</a
      >
      <a
        th:href="@{/book/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
        class="btn btn-primary"
        >목록</a
      >
      <!-- <a th:href="@{/book/remove(code=${dto.code})}" class="btn btn-danger">삭제</a> -->
    </form>
  </div>
  <th:block layout:fragment="script"></th:block>
</html>
