<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content" class="row g-5">
    <!-- 페이지 마다 다른 본문 작성 -->
    <div class="col-md-8">
      <h1>new</h1>
      <form action="" method="post">
        <div class="form-group mb-2">
          <label for="">내용</label>
          <textarea name="memoText" id="memoText" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">저장</button>
        </div>
      </form>
    </div>
  </div>
</html>
