<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="title">
    <title>Board List</title>
  </th:block>
  <div layout:fragment="content">
    <h1>Board List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col"></th>
          <th scope="col">작성일</th>
          <th scope="col">작성자</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${result.dtoList}">
          <th scope="row" th:text="${dto.bno}"></th>
          <td><a th:href="@{read(bno=${dto.bno})}">[[${dto.title}]]</a></td>
          <td th:text="${dto.replyCount!=null?dto.replyCount:0}"></td>
          <td th:text="${#temporals.format(dto.createdDate, 'yyyy-MM-dd')}"></td>
          <td th:text="${dto.name}"></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${result.prev}">
          <a
            class="page-link"
            th:href="@{list(page=${result.prevPage}, size=${result.pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >이전</a
          >
        </li>
        <li th:class="'page-item ' + ${result.current == page ?'active':''}" th:each="page : ${result.pageNumList}">
          <a
            th:class="page-link"
            th:href="@{list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >[[${page}]]</a
          >
        </li>
        <li class="page-item" th:if="${result.next}">
          <a
            class="page-link"
            th:href="@{list(page=${result.nextPage}, size=${result.pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
            >다음</a
          >
        </li>
      </ul>
    </nav>
  </div>
</html>
