<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="title">
    <title>Board List</title>
  </th:block>
  <div layout:fragment="content">
    <form>
      <div class="mb-3">
        <label for="bno" class="form-label">번호</label>
        <input type="text" class="form-control" id="bno" name="bno" th:value="${dto.bno}" />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" id="content" rows="10" class="form-control">[[${dto.content}]]</textarea>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">작성자</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" />
      </div>

      <a class="btn btn-primary">수정</a>
      <a class="btn btn-success">목록</a>
    </form>
    <div class="roe mt-3">
      <h5 class="my-5">댓글 개수 : [[${dto.replyCount}]]</h5>
      <!-- 댓글 목록 -->
      <div class="replyList boarder px-2">[[${dto.text}]]</div>
    </div>
  </div>
</html>
