<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <form action="" method="post" th:object="${mDto}" novalidate>
        <div class="mb-3">
          <label for="userid" class="form-label">userid</label>
          <input type="text" class="form-control" id="userid" name="userid" th:value="${mDto.userid}" />
          <div class="text-danger" th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" th:value="${mDto.password}" />
          <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input type="email" class="form-control" id="email" name="email" th:value="${mDto.email}" />
          <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" th:value="${mDto.name}" />
          <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">age</label>
          <input type="number" class="form-control" id="age" name="age" th:value="${mDto.age}" />
          <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check" name="check" value="true" />
          <label class="form-check-label" for="exampleCheck1">약관 동의</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <ul>
        <li>아이디 : <span th:text="${mDTO?.userid}"></span></li>
        <li>비밀번호 : <span th:text="${mDTO?.password}"></span></li>
        <li>약관동의 : <span th:text="${mDTO?.check}"></span></li>
      </ul>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
