<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>사칙연산</h1>
    <form action="" method="post">
      <input type="text" name="num1" id="num1" size="5" />
      <select name="op" id="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="text" name="num2" id="num2" size="5" />
      <button type="submit">연산</button>
    </form>
    <h3 th:text="${name1}"></h3>
  </body>
</html>
