<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>테스트</h1>
    <ul>
      <li><a href="/board/create">게시글 작성</a></li>
      <li><a href="/board/list">게시글 목록</a></li>
      <li><a href="/board/read">게시글 조회</a></li>
      <li><a href="/board/update">게시글 수정</a></li>
    </ul>
    <h3>Member</h3>
    <ul>
      <li><a href="/member/register">회원가입</a></li>
      <li><a href="/member/login">로그인</a></li>
      <li><a href="/member/logout">로그아웃</a></li>
      <li><a href="/member/change">비밀번호 변경</a></li>
    </ul>
  </body>
</html>
