<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ADMIN</h1>
    <h3>권한 확인 <span sec:authentication="principal.authorities"></span></h3>
    <h3>username(ID) <span sec:authentication="principal.username"></span></h3>
    <h3 sec:authorize="isAuthenticated()">인증된 사용자</h3>
    <h3 sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</h3>
    <h3 sec:authorize="hasRole('ROLE_USER')">일반 USER</h3>
    <div sec:authorize="isAuthenticated()">
      <a th:href="@{/member/logout}" class="btn btn-primary">로그아웃</a>
    </div>
  </body>
</html>
