<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/list-groups.css}">
  </th:block>
  <div layout:fragment="content">
    <h1 th:if="${completed}">완료</h1>
    <h1 th:unless="${completed}">미완료</h1>
      <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div>
          <a th:href="@{/todo/list(completed=false)}" class="btn btn-primary" th:if="${completed}">미완료 Todo</a>
          <a th:href="@{/todo/list(completed=true)}" class="btn btn-success" th:unless="${completed}">완료 Todo</a>
        </div>
        <div class="list-group">
          <label th:each="dto : ${todos}" class="list-group-item d-flex gap-3 label" th:attr="data-id=${dto.id}">
            <input class="form-check-input flex-shrink-0" type="checkbox" th:checked="${dto.completed}" name="completed" style="font-size: 1.375em">
            <span class="pt-1 form-checked-content">
              <a th:href="@{/todo/read(id=${dto.id})}">
                <strong th:text="${dto.content}"></strong>
              </a>
              <span class="badge text-bg-danger" th:if="${dto.importanted}">중요</span>
              <small  class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Reminder"><use xlink:href="#alarm"></use></svg>
                <!-- 작성일 -->
                 [[${#temporals.format(dto.createdDate, 'yyyy-MM-dd HH:mm:ss')}]]
              </small>
            </span>
          </label>
          <label class="list-group-item d-flex gap-3 bg-body-tertiary">
            <input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <span contenteditable="true" class="w-100">Add new task...</span>
              <small class="d-block text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em" aria-hidden="true"><use xlink:href="#list-check"></use></svg>
                Choose list...
              </small>
            </span>
          </label>
        </div>
      <form th:action="@{/todo/modify}" method="post" id="actionForm">
        <input type="hidden" name="id">
        <input type="hidden" name="completed">
      </form>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/list.js}"></script>
  </th:block>
</html>
