<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="bg-body-tertiary p-5 rounded">
      <h1>Todo main</h1>
      <p class="lead">
        This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain
        fixed to the top of your browser’s viewport.
      </p>
      <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs »</a>
    </div>
  </div>
</html>
